In [2]:
import openai
import pandas as pd

In [3]:
def chat_with_gpt3_5(prompt):
    openai.api_key = api_key

    gpt4response = openai.ChatCompletion.create(
        model="gpt-3.5-turbo",
        temperature=0,
        messages=[
            {
        "role": "system",
        "content": "You are my personal assistant. Your name is MealMaster. You are great at explaining and helping me and love what you do."
            },
            {
        "role": "user",
        "content": prompt
            }
            ],  
        max_tokens=1000  # Adjust the max_tokens as needed
    )
            

    return gpt4response['choices'][0]['message']['content']

def chat_with_gpt3(prompt):
    openai.api_key = api_key
    response = openai.Completion.create(
        engine="text-babbage-001",
        prompt=prompt,
        max_tokens=1000,
        n=1,
        stop=None
    )

    return response.choices[0].text.strip()

#  ------------------------------------------------------------

In [4]:
file_dir = r'C:\Users\Judy Sanders\Desktop\code\DevProject\smplclaim'
file_path = 'baba-2.csv'
filepath = f'{file_dir}/{file_path}'
df = pd.read_csv(filepath, encoding='ISO-8859-1')
print(df)

     Item #  Room  Brand or Manufacturer  Model#  Item Description  \
0         1   NaN                    NaN     NaN               NaN
1         2   NaN                    NaN     NaN               NaN
2         3   NaN                    NaN     NaN               NaN
3         4   NaN                    NaN     NaN               NaN
4         5   NaN                    NaN     NaN               NaN
..      ...   ...                    ...     ...               ...
223     224   NaN                    NaN     NaN               NaN
224     225   NaN                    NaN     NaN               NaN
225     226   NaN                    NaN     NaN               NaN
226     227   NaN                    NaN     NaN               NaN
227     228   NaN                    NaN     NaN               NaN

     Original Vendor  Quantity Lost  Item Age (Years)  Item Age (Months)  \
0                NaN            NaN               NaN                NaN
1                NaN            NaN               NaN                NaN
2                NaN            NaN               NaN                NaN
3                NaN            NaN               NaN                NaN
4                NaN            NaN               NaN                NaN
..               ...            ...               ...                ...
223              NaN            NaN               NaN                NaN
224              NaN            NaN               NaN                NaN
225              NaN            NaN               NaN                NaN
226              NaN            NaN               NaN                NaN
227              NaN            NaN               NaN                NaN

     Condition  Cost to Replace Pre-Tax (each)  Total Cost
0          NaN                             NaN         NaN
1          NaN                             NaN         NaN
2          NaN                             NaN         NaN
3          NaN                             NaN         NaN
4          NaN                             NaN         NaN
..         ...                             ...         ...
223        NaN                             NaN         NaN
224        NaN                             NaN         NaN
225        NaN                             NaN         NaN
226        NaN                             NaN         NaN
227        NaN                             NaN         NaN

[228 rows x 12 columns]

In [5]:
def add_data_to_df(df, data_dict):
    new_data = pd.DataFrame(data_dict)
    updated_df = pd.concat([df, new_data])
    return updated_df

In [6]:
new_data = {
    'Item #': [int(1)],
    'Room': ['bedroom'],
    # Add more columns as needed
}

# Add the new data to the DataFrame
df = add_data_to_df(df, new_data)
print(df)

     Item #     Room  Brand or Manufacturer  Model#  Item Description  \
0         1      NaN                    NaN     NaN               NaN
1         2      NaN                    NaN     NaN               NaN
2         3      NaN                    NaN     NaN               NaN
3         4      NaN                    NaN     NaN               NaN
4         5      NaN                    NaN     NaN               NaN
..      ...      ...                    ...     ...               ...
224     225      NaN                    NaN     NaN               NaN
225     226      NaN                    NaN     NaN               NaN
226     227      NaN                    NaN     NaN               NaN
227     228      NaN                    NaN     NaN               NaN
0         1  bedroom                    NaN     NaN               NaN

     Original Vendor  Quantity Lost  Item Age (Years)  Item Age (Months)  \
0                NaN            NaN               NaN                NaN
1                NaN            NaN               NaN                NaN
2                NaN            NaN               NaN                NaN
3                NaN            NaN               NaN                NaN
4                NaN            NaN               NaN                NaN
..               ...            ...               ...                ...
224              NaN            NaN               NaN                NaN
225              NaN            NaN               NaN                NaN
226              NaN            NaN               NaN                NaN
227              NaN            NaN               NaN                NaN
0                NaN            NaN               NaN                NaN

     Condition  Cost to Replace Pre-Tax (each)  Total Cost
0          NaN                             NaN         NaN
1          NaN                             NaN         NaN
2          NaN                             NaN         NaN
3          NaN                             NaN         NaN
4          NaN                             NaN         NaN
..         ...                             ...         ...
224        NaN                             NaN         NaN
225        NaN                             NaN         NaN
226        NaN                             NaN         NaN
227        NaN                             NaN         NaN
0          NaN                             NaN         NaN

[229 rows x 12 columns]

In [7]:
df = df.sort_values('Item #')
print(df)

     Item #     Room  Brand or Manufacturer  Model#  Item Description  \
0         1      NaN                    NaN     NaN               NaN
0         1  bedroom                    NaN     NaN               NaN
1         2      NaN                    NaN     NaN               NaN
2         3      NaN                    NaN     NaN               NaN
3         4      NaN                    NaN     NaN               NaN
..      ...      ...                    ...     ...               ...
223     224      NaN                    NaN     NaN               NaN
224     225      NaN                    NaN     NaN               NaN
225     226      NaN                    NaN     NaN               NaN
226     227      NaN                    NaN     NaN               NaN
227     228      NaN                    NaN     NaN               NaN

     Original Vendor  Quantity Lost  Item Age (Years)  Item Age (Months)  \
0                NaN            NaN               NaN                NaN
0                NaN            NaN               NaN                NaN
1                NaN            NaN               NaN                NaN
2                NaN            NaN               NaN                NaN
3                NaN            NaN               NaN                NaN
..               ...            ...               ...                ...
223              NaN            NaN               NaN                NaN
224              NaN            NaN               NaN                NaN
225              NaN            NaN               NaN                NaN
226              NaN            NaN               NaN                NaN
227              NaN            NaN               NaN                NaN

     Condition  Cost to Replace Pre-Tax (each)  Total Cost
0          NaN                             NaN         NaN
0          NaN                             NaN         NaN
1          NaN                             NaN         NaN
2          NaN                             NaN         NaN
3          NaN                             NaN         NaN
..         ...                             ...         ...
223        NaN                             NaN         NaN
224        NaN                             NaN         NaN
225        NaN                             NaN         NaN
226        NaN                             NaN         NaN
227        NaN                             NaN         NaN

[229 rows x 12 columns]